<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div style="width: 99%; word-break: break-all; "><%= msg %></div>
    <div style="width: 99%; word-break: break-all; "><%= msgbase64 %></div>
  </body>
</html>
