<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <style>
    .data{
      background-color: antiquewhite; 
      border: solid 2px #261e13;
      width: 99%; 
      word-break: break-all;
      margin: 6px;
    }
  </style>
  <body>
    <form action="/" method="post" class="card p-2">
      <div class="container">
        <table style="width:100%" class="table table-success table-striped">
          <tr>
            <th>Type</th>
            <th>Value</th>
          </tr>
          <tr>
            <td>RAW</td>
            <td><input class="form-input" type="text" name="rawStr" value="<%= rawStr %>"/></td>
          </tr>
          <tr>
            <td>BASE64</td>
            <td><input type="text" name="base64Str" value="<%= base64Str %>"/></td>
          </tr>
          <tr>
            <td>URL</td>
            <td><input type="text" name="login_url" value="<%= login_url %>" disabled/></td>
          </tr>
          <tr>
            <td>Data</td>
            <td><input type="text" name="data" value="<%= data %>" disabled/></td>
          </tr>
          <tr>
            <td>Error</td>
            <td><input type="text" name="error" value="<%= error %>" disabled/></td>
          </tr>
        </table>
        
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">POST</button>
        </div>

      </div>
    </form>
  </body>
</html>
