<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <style>
    .data{
      background-color: antiquewhite; 
      border: solid 2px #261e13;
      width: 99%; 
      word-break: break-all;
      margin: 6px;
    }
  </style>
  <body>
    <form action="/" method="post" class="card p-2">
      <div class="container">
        <table style="width:100%" class="table table-bordered">
          <thead class="table-dark">
            <tr>
              <th>Type</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>RAW</td>
              <td><input class="form-control" type="text" name="rawStr" value="<%= rawStr %>"/></td>
            </tr>
            <tr>
              <td>BASE64</td>
              <td><input class="form-control" type="text" name="base64Str" value="<%= base64Str %>"/></td>
            </tr>
            <tr>
              <td>LOGIN URL</td>
              <td><input class="form-control" type="text" name="login_url" value="<%= login_url %>" /></td>
            </tr>
            <tr>
              <td>ENTITY</td>
              <td><input class="form-control" type="text" name="entity" value="<%= entity %>" /></td>
            </tr>
            <tr>
              <td>ISSUER</td>
              <td><input class="form-control" type="text" name="issuer" value="<%= issuer %>" /></td>
            </tr>
            <tr>
              <td>USER FEDRATION ID</td>
              <td><input class="form-control" type="text" name="userFID" value="<%= userFID %>" /></td>
            </tr>
            <tr>
              <td>IS PORTAL</td>
              <td><input  type="checkbox" name="isPortal" value="<%= isPortal %>" <%= isPortal ? "checked" : "" %> onclick="oncheckchange();" /></td>
            </tr>
            <tr>
              <td>ORG ID</td>
              <td><input class="form-control" type="text" name="oId" value="<%= oId %>" /></td>
            </tr>
            <tr>
              <td>PORTAL ID</td>
              <td><input class="form-control" type="text" name="pId" value="<%= pId %>" /></td>
            </tr>
            <tr>
              <td>accountname</td>
              <td><input class="form-control" type="text" name="accountname" value="<%= accountname %>" /></td>
            </tr>
            <tr>
              <td>accountnumber</td>
              <td><input class="form-control" type="text" name="accountnumber" value="<%= accountnumber %>" /></td>
            </tr>
            <tr>
              <td>contactemail</td>
              <td><input class="form-control" type="text" name="contactemail" value="<%= contactemail %>" /></td>
            </tr>
            <tr>
              <td>contactfname</td>
              <td><input class="form-control" type="text" name="contactfname" value="<%= contactfname %>" /></td>
            </tr>
            <tr>
              <td>contactlname</td>
              <td><input class="form-control" type="text" name="contactlname" value="<%= contactlname %>" /></td>
            </tr>
            <tr>
              <td>Data</td>
              <td><input class="form-control" type="text" name="data" value="<%= data %>" disabled/></td>
            </tr>
            <tr>
              <td>Error</td>
              <td><input class="form-control" type="text" name="error" value="<%= error %>" disabled/></td>
            </tr>
          </tbody>
        </table>
        
        <input type="hidden" value="" name="submit_action"/>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary" onclick="document.querySelector(`input[name='submit_action']`).value='generate'">GENERATE</button>
          <button type="submit" class="btn btn-primary" onclick="document.querySelector(`input[name='submit_action']`).value='post'">POST</button>
        </div>
      </div>

      <script>
        function oncheckchange(){
          var ch = document.querySelector(`input[name='isPortal']`);
          if(ch.checked){
            ch.value = 'true';
          }
          else{
            ch.value = 'false';
          }
        }
      </script>

    </form>
  </body>
</html>
