<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
    div{
      background-color: antiquewhite; 
      border: solid 2px #261e13;
      width: 99%; 
      word-break: break-all;
      margin: 6px;
    }
  </style>
  <body>
    <!--<h1><%= title %></h1>
    <p>Welcome to <%= title %></p>-->
    <form action="/team_name_url/" method="post">
      <input type="hidden" name="raw" value="<%= msg %>"/>
      <input type="hidden" name="base64" value="<%= msgbase64 %>"/>
      <button></button>
      RAW:<div><%= msg %></div></hr>
      BASE64:<div><%= msgbase64 %></div>
    </form>
  </body>
</html>
