<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <style>
    div{
      background-color: antiquewhite; 
      border: solid 2px #261e13;
      width: 99%; 
      word-break: break-all;
      margin: 6px;
    }
  </style>
  <body>
    <form action="/" method="post" class="card p-2">
      <div class="container">
        <table style="width:100%">
          <tr>
            <th>Type</th>
            <th>Value</th>
          </tr>
          <tr>
            <td>RAW</td>
            <td><input type="text" name="raw" value="<%= msg %>"/></td>
          </tr>
          <tr>
            <td>BASE64</td>
            <td><input type="text" name="base64" value="<%= msgbase64 %>"/></td>
          </tr>
          <tr>
            <td>URL</td>
            <td><input type="text" name="url" value="ankittrailhead-dev-ed.my.salesforce.com"/></td>
          </tr>
          <tr>
            <td>SOID</td>
            <td><input type="text" name="so" value="<%= so %>"/></td>
          </tr>
        </table>
        <button type="submit" class="btn btn-primary">POST</button></br></br>
        RAW:<div><%= msg %></div></hr>
        BASE64:<div><%= msgbase64 %></div>
      </div>
    </form>
  </body>
</html>
